<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.ProxyMapper">

    <select id="findFirst" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from proxy limit 1
    </select>

    <insert id="insertList" parameterType="java.util.List">
        replace into proxy
        (<include refid="Base_Column_List"/>)
        values
        <foreach collection="list" item="item" index="index" open="" close="" separator=",">
            (#{item.id}, #{item.proxyIp}, #{item.proxyPort}, #{item.proxyUserName}, #{item.proxyPassword})
        </foreach>
    </insert>

    <sql id="Base_Column_List">
        id, proxy_ip, proxy_port, proxy_username, proxy_password
    </sql>

    <resultMap id="BaseResultMap" type="entity.Proxy">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="proxy_ip" property="proxyIp" jdbcType="VARCHAR"/>
        <result column="proxy_port" property="proxyPort" jdbcType="INTEGER"/>
        <result column="proxy_username" property="proxyUserName" jdbcType="VARCHAR"/>
        <result column="proxy_password" property="proxyPassword" jdbcType="VARCHAR"/>
    </resultMap>

</mapper>