<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.WebConfigMapper">
    <select id="selectOneById" parameterType="int" resultMap="BaseResultMap">
        select * from web_config where id = #{id}
    </select>

    <select id="selectOneByDomain" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from web_config where domain = #{domain}
    </select>

    <sql id="Base_Column_List">
      id, domain, need_cookie, need_proxy, request_headers
    </sql>

    <resultMap id="BaseResultMap" type="entity.WebConfig">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="domain" property="domain" jdbcType="VARCHAR"/>
        <result column="need_cookie" property="needCookie" jdbcType="VARCHAR"/>
        <result column="need_proxy" property="needProxy" jdbcType="VARCHAR"/>
        <result column="request_headers" property="requestHeaders" jdbcType="LONGVARCHAR"/>
    </resultMap>
</mapper>